body {
	background: #A7DBDB;
	} 
h1 {
	font-family: sans-serif;
	color: #FA6900;
} 
p {
	font-family: sans-serif;
	color: #A71D00;
}
img {
	display: block; /*this p*/
}

#top-box {
	border-left: 8px solid #69d2e7; 
	background-color: #e0e4cc;
	width: 30%;
}